<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>1861367.4095688486</real>
	<key>iframe_MaxBitRate</key>
	<real>432718.12795703544</real>
	<key>iframe_avgBitRate</key>
	<real>115422.07432854915</real>
	<key>maxBitRate</key>
	<real>3050309.6708896877</real>
	<key>videoCodecInfo</key>
	<string>avc1.64001f</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>694</real>
		<key>Width</key>
		<real>1280</real>
	</dict>
	<key>videoFrameRate</key>
	<string>23.976</string>
</dict>
</plist>
