<div class="video-controls">
    <div class="left">
        <div class="group">
            <span class="glyphicon glyphicon-step-backward"
                  aria-hidden="true"
                  ng-click="player.goToNextVideo(false)"></span>
            <span class="glyphicon glyphicon-backward"
                  aria-hidden="true"
                  ng-click="controls.changePlaybackSpeed(false)"></span>

            <div class="one-icon-only">
                <span ng-if="!controls.isPlaying"
                      ng-click="controls.togglePlay()"
                      class="glyphicon glyphicon-play"
                      aria-hidden="true">
                </span>

                <span ng-if="controls.isPlaying"
                      ng-click="controls.togglePlay()"
                      class="glyphicon glyphicon-pause"
                      aria-hidden="true">
                </span>
            </div>

            <span class="glyphicon glyphicon-forward"
                  aria-hidden="true"
                  ng-click="controls.changePlaybackSpeed(true)"></span>
            <span class="glyphicon glyphicon-step-forward"
                  aria-hidden="true"
                  ng-click="player.goToNextVideo(true)"></span>
        </div>

        <div class="time group">
            {{ player.currentTime }} / {{ player.totalDuration }}
        </div>
    </div>

    <div class="right">
        <div class="volume group">
            <div class="one-icon-only"
                 ng-click="controls.toggleMuteAudio()">
                <span ng-if="controls.currentVolume == 0"
                      class="glyphicon glyphicon-volume-off"
                      aria-hidden="true">
                </span>

                <span ng-if="controls.currentVolume >= 1 && controls.currentVolume <= 6"
                      class="glyphicon glyphicon-volume-down"
                      aria-hidden="true">
                </span>

                <span ng-if="controls.currentVolume > 6"
                      class="glyphicon glyphicon-volume-up"
                      aria-hidden="true">
                </span>
            </div>

            <input type="range" min="0" max="10"
                   ng-model="controls.currentVolume"
                   ng-change="controls.updateVolume(controls.currentVolume)">
        </div>

        <div class="settings-wrapper group">
            <span ng-click="controls.toggleShowSettings(true)"
                  class="glyphicon glyphicon-cog"
                  aria-hidden="true">
            </span>

            <div ng-class="{visible: controls.showResolutions}" class="settings-list resolutions">
                <div ng-repeat="res in player.currentClip.resolutions"
                     ng-click="controls.changeResolution(res.level)"
                     ng-class="{'active': res.level === player.currentClip.resolution}">
                    {{::res.label}}
                </div>
            </div>
        </div>

        <div class="settings-wrapper group">
            <span ng-click="controls.toggleShowSettings(false)"
                  class="glyphicon glyphicon-film"
                  aria-hidden="true">
            </span>

            <div ng-class="{visible: controls.showModes}" class="settings-list modes">
                <div ng-click="controls.setMode(true)"
                     ng-class="{active: player.isNativeMode}">
                    DASH (MSE)
                </div>
                <div ng-click="controls.setMode(false)"
                     ng-class="{active: !player.isNativeMode}">
                    HLS (hls.js)
                </div>
            </div>
        </div>

        <div class="group one-icon-only">
            <span ng-if="!controls.fullScreenEntered"
                  ng-click="controls.toggleFullScreen()"
                  class="glyphicon glyphicon-resize-full"
                  aria-hidden="true">
            </span>

            <span ng-if="controls.fullScreenEntered"
                  ng-click="controls.toggleFullScreen()"
                  class="glyphicon glyphicon-resize-small"
                  aria-hidden="true">
            </span>
        </div>
    </div>
</div>